* {
    box-sizing: border-box;
  }
  
  
  @font-face {
    font-family: "sourceregular";
    src: url("../fonts/SourceCodePro-Regular.otf");
  }
  
  @font-face {
    font-family: "sourcebold";
    src: url("../fonts/SourceCodePro-Bold.otf");
  }
  
  @font-face {
    font-family: "avenirLTSroman";
    src: url("../fonts/AvenirLTStd-Roman.otf");
  }
  
  @font-face {
    font-family: "avenirLTSbook";
    src: url("../fonts/AvenirLTStd-Book.otf");
  }
  
  @font-face {
    font-family: "avenirLTSroman";
    src: url("../fonts/AvenirLTStd-Roman.otf");
  }
  
  @font-face {
    font-family: "avenirbold";
    src: url("../fonts/Avenir-Black.otf");
  }
  
  
  header{
    width: 100%;
    margin: 0 auto;
    margin-top: 0 ;
  }
   nav{
     width: 90%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-top: -2%;
     margin-left: 5%;
     
     /* position: -webkit-sticky;
     position: sticky;
     top: 0;
     padding: 50px;
     text-align: right; */
   }
  
   nav a{
    font-family: "sourceregular";
    font-size: 20px;
    text-decoration: none;
    color: black;
    line-height: 60px;
     
   }
  
   a:hover {
    color: #9C5AA7;
  }
  
  #containerheader{
    margin-top: 0 auto;
    position: relative;
  }
  
   #tittle{
    display: flex;
    flex-direction: column;
    align-items: left;
   }
  
   .white-tittle {
    font-family: "sourcebold";
    color: #ffffff;
    font-size: 20px;
    padding-top: 14%;
    padding-left: 10%;
  
    position: absolute;
   }
  
   .grey-tittle {
    font-family: "avenirLTSbook";
    color: #ffffff;
    font-size: 14px;
    line-height: 20%;
    margin: 7% 2%;
    padding-top: 1%;
    padding-left: 8%;
    position: absolute;
   }
  
  
  
  #textbox{
    position: absolute;
    font-size: 18px;
    width: 600px;
    left:500px;
    top:100px
  }
  
  #photo{
    width: 100%;
    margin-top: 0%;
    position: absolute;
    left: 0%;
    z-index: -2;
  }
  #textwhite{
    position: relative;
    padding-top: 10%;
    left: 20%;
  }
  
  #quote {
    font-family: "avenirLTSroman";
    font-size: 16px;
    text-align: left;
    line-height: 70%;
  }
  
  
  .violetbox1, .violetbox2, .violetbox3, .violetbox4 {
    width: 605px;
    height: 25px;
    background-color: #E7D8E9;
    position: absolute;
    left: -1%;
    z-index: -1;
  }
  
  .violetbox1{
    top: 78%;
  }
  
  .violetbox2{
    width: 535px;
    top: 90%;
  }
  
  
  #buttonCV a{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "sourceregular";
    background-color: #ffffff;
    margin-top: 10%;
    margin-left: -1%;
    padding: 1%;
  }
  
  #buttonCV a:hover {
    color: #9C5AA7;
  }
  
  main{
    background-color: #F6F1F7;
    width: 90%;
    margin: 0 auto;
    margin-top: 38%;
    padding-top: 50px;
    padding-bottom: 100px;
    z-index: -4;
  }
  
  
  
  #work{
    text-align: left;
    padding-right: 40%;
    margin-left: 45% ;
  }
  
  .recentwork {
    font-family: "avenirbold";
    color: #000000;
    font-size: 50px;
    margin-top: 30%;
    margin-bottom: 10%;
  }
    
  .arrowicon {
    width: 69px; height: 40px;
    margin-left: 4px;
    margin-bottom: 10%;
  }
  
    
  .project {
    background-color: white;
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 17%;
    margin-top: 5%;
    margin-bottom: 10%;
    box-shadow: 1px 1px 8px #d4d4d4;
  }
  
  .project a:hover {
    color: #9C5AA7;
  }
  
  #half{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  #half img{
    width: 850px;
  }
  
  
  a:hover {
      color: #9C5AA7;
    }
    
  
  .textProject{
    display: flex;
    justify-content: space-between;
    width: 850px;
    line-height: 300%;
  }
  
  
  .textTittle {
  font-family: "avenirLTSbook";
  font-size: 20px;
  text-align: left;
  }
  
    .avenirbook {
    font-family: "avenirLTSbook";
    font-size: 20px;
    }
    
    .avenirbold {
      font-family: "avenirbold";
      font-size: 40px;
    }
  
  .textLink a{
    font-family: "avenirLTSroman";
    font-size: 20px;
    text-decoration: none;
    text-align: right;
    text-decoration: underline #E7D8E9;
    color: #000000;
    display: flex;
    flex-direction: column;
  }
  
  .project2{
    background-color: white;
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 17%;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  
  .project3{
    background-color: white;
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 17%;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  
  
  footer {
  margin-top: 5%;
  margin-bottom: 5%;
  
  }
  
  #contact {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  #contactme p {
    margin-top: 2%;
    margin-bottom: 5%;
  }
  
  .violet-tittle {
    font-family: "sourcebold";
    color: #E7D8E9;
    font-size: 74px;
    padding-left: 0%;
    margin-right: -20%;
   }
  
  
  #contactme a {
    font-family: "avenirLTSroman";
    font-size: 25px;
    text-decoration: none;
    text-align: left;
    color: #000000;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
    }
  
    #contactme a:hover{
      color: #9C5AA7;
    }
  
    
    .icon {
      width: 50%;
    }
  
    .violetbox3{
      width: 180px;
      top: 54%;
      left: -2px;
      position: absolute;
    }
    
    .violetbox4{
      width: 75px;
      top: 82%;
      left: -2px;
      position: absolute;
    }
  
    #porfolioicons{
      display: flex;
      padding-top: 190px;
    }
    #porfolioicons a img{
      width: 50px;
      margin-left: 20px;
    }
  
  
  